@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;900&family=Rubik:wght@400;500&display=swap');

/*font-family: 'Roboto Slab', serif; 200,400,900*/
/*font-family: 'Rubik', sans-serif; 400,500*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
    height: 100%;
    @apply text-white
}

body{
    margin: 0;
    padding: 0%;
}
