@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* suspected bug */
#hero {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-size 0.7s ease-in-out;
}

/* suspected bug */

#scroll,
#contactbutton {
    animation: bounce 1s infinite 2s;
}

#seenenough {
    animation: sway 1s infinite;
}

#loaderitem {
    animation: bounce 2.5s infinite;
}

#loader {
    background: linear-gradient(-45deg, #4c2115, #ba5a3c, #9e5c16, #8c653c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#nav a {
    color: black !important;
}

.social {
    transition: transform 0.3s ease-in-out;
}

.social:hover {
    transform: scale(1.2);
}

/* Animation ---------------------------------------------------------------- */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Bounce at the top and bottom */
    }

    40% {
        transform: translateY(-10px);
        /* Move up during the bounce */
    }

    60% {
        transform: translateY(-7px);
        /* Move down during the bounce */
    }
}

@keyframes sway {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Sway at the top and bottom */
    }

    40%,
    60% {
        transform: translateX(10px);
        /* Move horizontally during the sway */
    }
}
